[submodule "wandering-wavelength"]
	path = wandering-wavelength
	url = https://github.com/ShubhamPatilsd/wandering-wavelength
[submodule "haunted-house-testing"]
	path = haunted-house-testing
	url = https://github.com/ivoinestrachan/haunted-house-testing
