[submodule "wandering-wavelength"]
	path = rooms/wandering-wavelength
	url = https://github.com/ShubhamPatilsd/wandering-wavelength
[submodule "haunted-house-testing"]
	path = rooms/haunted-house-testing
	url = https://github.com/ivoinestrachan/haunted-house-testing

[submodule "sinerider-leaderboard"]
	path = rooms/sinrider-leaderboard
	url = https://github.com/hackclub/sinerider-leaderboard
[submodule "rooms/sinrider-leaderboard"]
	path = rooms/sinrider-leaderboard
	url = https://github.com/hackclub/sinerider-leaderboard
